@model RealtyShares.SessionTimeout.Models.SessionTimeoutSettingsPart
@using Orchard.ContentManagement;

<fieldset>
  <legend>@T("Session Timeout")</legend>
  <label for="@Html.FieldIdFor(m=>m.SessionDuration)">@T("Duration of a user session in minutes")</label>
  @Html.TextBoxFor(m => m.SessionDuration, new { @class="text-small" })
</fieldset>

